.container {
  display: flex;
  height: calc(100vh - 64px - 65px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5; /* 修改背景颜色 */

  .info {
    text-align: center;

    button {
      height: 60px;
      font-size: 24px;
    }
  }
}
