.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .middle {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .input-field,
  .search-field {
    height: 40px; /* 统一的高度 */
    width: 300px; /* 统一的宽度 */
  }
  
  .content {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 65vh; 
  }
  
  .navbar {
    width: 200px;
    border-right: 1px solid #e8e8e8;
    padding: 20px;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
  }
  