.userInfoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px; /* 为按钮添加顶部填充距离 */
  }
  
  
  .userInfoText {
    color: #e8e8e8;
    margin-right: 20px; /* 给用户名和按钮之间添加一点间距 */
  }

  .button {
    margin-top: 10px; /* 为按钮添加顶部填充距离 */
    justify-content: flex-end;
    align-items: center;
  }
  
  